{% extends 'dxango-template.html'%}

{% block title%}
About
{%endblock title%}

{% block body %}
    <div class="about-section-field">
        <div class="about-section">
            <h1>Hello Visitor.</h1>
            <h3>Wellcome to <span>dxango</span></h3>
            <h2>My Name is S.Bisworaj & I've Created this Webapp for testing purpose only. </h2>
            <h3>This Webapp is a demo app that does nothing only performs some basic functionality that django framework offers. this Site's been cretaed with static HTML,CSS & javaScript and python Programing language (django framework).</h3>
            <br>
            <h2>why this website ?</h2>
            <h3>Well This is a Demo website to test the django app. we will test this basic django webapp if that performs basic functionality like URL Dispatching,Template Rendering, Sqlite Database Connectivity etc.</h3>
            <br>
            <h2>Why dxango ?</h2>
            <h3>I don't Know. May be bacause I don't have that much naming preferences.</h3>
            <div class="sign-img">
                <img src="/static/sign2.png" alt=""  width="200px">
            </div>
        </div>
    </div>
{% endblock body %}
